body{
    color:white;
    background-image:url('../img/navy_background.jpg');
}
#searchForm{
    color:navy;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.jumbotron{
    background-color:#AA8D39;
    color:white;
    text-align:center;
    font-weight:bold;
}
.row{
    border:3px solid #AA8D39;
    padding-top:20px;
    padding-bottom:10px;
}
.barBlurb button{
    color:navy;
    border-radius:10px;
}
.barBlurb a{
    color:lightblue;
}
.barAddress{
    text-decoration:underline;
}
#loader{
    font-size:40px;
    color:#AA8D39;
    text-align:center;
}
