include ./partials/__header.jade
body
    div.jumbotron
        h1 Bar Rollcall
        h2 Find local bars and RSVP
        if !loggedIn
            button#twitterLogin.alert-info
                a(href="/auth/twitter") Sign In With Twitter
    div#searchForm
        if lastQuery
            input#localeInput(type="text", name="locale", value=lastQuery)
        else
            input#localeInput(type="text", name="locale", placeholder="Chapel Hill, NC")
        button#localeSubmit Find spots
    br
    div#searchResults
    script(src="../static/js/events.js")
    if lastQuery
        script.
            $("#localeSubmit").click();